.wrapper {
  width: 94%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main {
  width: calc(100% - 250px);
  background-color: #f0f0f0;
  padding: 20px;
  font-family: "Kiwi Maru", serif;
}
.sidebar {
  width: 180px;
}
.widget + .widget {
  margin-top: 20px;
}
.widget--sticky {
  position: sticky;
  top: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  font-family: "Kiwi Maru", serif;
}
