:root {
  --BG_C: #72736f;
  --bg_c: #262522;
  --font_c: #ecc100;
}

body {
  background-color: var(--BG_C);
}

.wrapper {
  width: 94%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main {
  width: calc(100% - 250px);
  background-color: var(--bg_c);
  padding: 20px;
  font-family: "Kiwi Maru", serif;
  color: var(--font_c);
}
.sidebar {
  width: 180px;
}
.widget + .widget {
  margin-top: 20px;
}
.widget--sticky {
  position: sticky;
  top: 20px;
  background-color: var(--bg_c);
  padding: 20px;
  font-family: "Kiwi Maru", serif;
  color: var(--font_c);
}
a {
  text-decoration: none;
}

a:link {
  color: var(--font_c);
}

a:visited {
  color: var(--font_c);
}

a:hover {
  font-weight: bold;
  color: #0011ff;
  text-decoration: underline;
}

a:active {
  font-weight: bold;
  color: #33cc00;
}
